.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 300px;
  margin: 0 auto 25px;
  padding: 20px;
  background: #111;
  border: 1px solid #00ff00;
}

.input {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 10px;
}

.button {
  background-color: var(--button-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--button-hover);
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  color: var(--text-color);
  font-size: 14px;
}

.errorInput {
  border-color: red;
}

.error {
  color: red;
  font-size: 12px;
}
